<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ApplyMapper">
 	
 	 <resultMap id="applySelectMap" type="apply">
 	 
		<result property="applyNo" 		column="apply_no" 		jdbcType="NUMERIC"/>
		<result property="adoptNo" 		column="adopt_no" 		jdbcType="NUMERIC"/>
		<result property="id" 			column="id" 			jdbcType="VARCHAR"/>
		<result property="nickname" 	column="nickname" 		jdbcType="VARCHAR"/>
		<result property="phone" 		column="phone" 			jdbcType="VARCHAR"/>
		<result property="job" 			column="job" 			jdbcType="VARCHAR"/>
		<result property="addr" 		column="addr" 			jdbcType="VARCHAR"/>
		<result property="mate" 		column="mate" 			jdbcType="VARCHAR"/>
		<result property="mateAgree"	column="mate_agree" 	jdbcType="VARCHAR"/>
		<result property="raise" 		column="raise" 			jdbcType="VARCHAR"/>
		<result property="currently"	column="currently" 		jdbcType="VARCHAR"/>
		<result property="plan"			column="plan" 			jdbcType="VARCHAR"/>
		<result property="pay" 			column="pay" 			jdbcType="VARCHAR"/>
		<result property="reason" 		column="reason" 		jdbcType="VARCHAR"/>
		<result property="situation" 	column="situation" 		jdbcType="VARCHAR"/>
		<result property="regDate" 		column="reg_date" 		jdbcType="DATE"/>
		<result property="statusCode" 	column="status_code" 	jdbcType="CHAR"/>
		
	 </resultMap>
	

	
	 <!-- SQL : INSERT -->
	 <insert 	id="addApply"		parameterType="apply" >
	 	INSERT
		INTO apply (apply_no, adopt_no, id, nickname, phone, 
					job, addr, mate, mate_agree, raise, 
					currently, plan, pay, reason, situation, reg_date) 
		VALUES	 (	seq_apply_apply_no.nextval, #{adoptNo}, #{id}, #{nickname}, #{phone}, 
					#{job}, #{addr}, #{mate}, #{mateAgree:VARCHAR}, #{raise}, 
					#{currently:VARCHAR}, #{plan}, #{pay}, #{reason}, #{situation}, SYSDATE  )
	 </insert>
	 
	 
	 
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getApply"	parameterType="int"		resultMap="applySelectMap">
		SELECT
				apply_no, adopt_no, id, nickname, phone, job, addr, mate, mate_agree, raise, 
				currently, plan, pay, reason, situation, reg_date, status_code
		FROM apply 
		WHERE apply_no = #{value}
	 </select>
	 
	 

	 
	 
	 <!-- SQL : UPDATE -->
	 <update	id="delApply"	parameterType="apply" >
	   	UPDATE apply
	   	<set>
			status_code		= '0'
	   	</set>
	   	WHERE apply_no = #{applyNo}
	 </update>

	
		 
		 
	<!-- SQL : SELECT LIST -->
	<select  id="listApply"  parameterType="map"	resultMap="applySelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
  				FROM ( SELECT apply_no, adopt_no, id, nickname, phone, job, addr, mate, mate_agree, raise, 
								currently, plan, pay, reason, situation, reg_date, status_code
						FROM apply
						<where>
								adopt_no = #{adoptNo} AND status_code != '0' 
						</where>
						ORDER BY apply_no ) inner_table
				)
		
	 </select>
	 
	 
	 
	 <select  id="listApply2"  parameterType="string"	resultMap="applySelectMap">
	  	SELECT ad.post_no, ap.id, ad.status_code
		FROM  adopt ad, apply ap
		WHERE ad.post_no(+) = ap.adopt_no AND ad.status_code = '3'  AND ap.id = #{value}
	 </select>

	
	
	
	
	<!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCount"  parameterType="map"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT apply_no, adopt_no, id, nickname, phone, job, addr, mate, mate_agree, raise, 
						currently, plan, pay, reason, situation, reg_date, status_code
				FROM apply
				<where>
						adopt_no = #{adoptNo} AND status_code != '0' 
				</where> ) countTable						
	 </select>
	 
	 
	 
	 
</mapper>