<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CartMapper">

	<resultMap type="cart" id="cartSelectMap">
		<result property="cartNo" column="cart_no" jdbcType="NUMERIC" />
		<result property="prodNo" column="prod_no" jdbcType="VARCHAR" />
		<result property="id" column="id" jdbcType="VARCHAR" />
		<result property="totalPrice" column="total_price" jdbcType="NUMERIC" />
		<result property="quantity" column="quantity" jdbcType="NUMERIC" />
	</resultMap>

	<insert id="addCart" parameterType="cart">
		INSET
		INTO cart(cart_no, id, prod_no, quantity, total_price)
		VALUES (
		seq_Cart_cart_no.NEXTVAL, #{id}, #{prodNo}, #{quantity}, #{totalPrice})
	</insert>

	<delete id="delCart" parameterType="cart">
		DELETE
		FROM cart
		WHERE cart_no = #{cartNo}
	</delete>


	<select id="totalPrice" parameterType="cart">
		SELECT
		NVL(sum(price*quantity), 0) totalPrice
		FROM cart c, product p
		WHERE c.prod_no=p.prod_no 
		AND c.id = #{value}
	</select>

	 <select  id="listCart"  parameterType="cart"	resultMap="cartSelectMap">
	  	SELECT 
		c.cart_no, 
		c.id, 
		c.prod_no, 
		p.prod_name, 
		p.price, 
		c.quantity,
		(p.price*c.quantity) totalPrice
		
		FROM 
		
		cart c, product p
		WHERE 
		c.id = #{id} 
		AND c.prod_no = p.prod_no
	 </select>
	 
	 <update id="modifyCart">
	 UPDATE cart
	 set quantity = #{quantity}
	 WHERE id=#{id}
	 AND prodNo=#{prodNo}
	 
	 
	 </update>
	 
	 <select id="countCart" resultMap="cartSelectMap">
	 SELECT COUNT(*)
	 FROM cart
	 WHERE id=#{id}
	 AND prodNo=#{prodNo}
	 </select>
	 
	 <update id="updateCart">
	 UPDATE cart
	 SET quantity = quantity + #{quantity}
	 where id = #{id}
	 AND prodNo = #{prodNo} 
	 </update>

</mapper>