<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FileMapper">

	<resultMap id="fileSelectMap" type="file">

		<result property="fileNo" column="POST_NO" jdbcType="NUMERIC" />
		<result property="boardCode" column="ID" jdbcType="VARCHAR" />
		<result property="postNo" column="NICKNAME" jdbcType="VARCHAR" />
		<result property="fileName" column="STATUS_CODE" jdbcType="CHAR" />
		<result property="fileCode" column="PHONE" jdbcType="VARCHAR" />	

		</resultMap>

	<!-- SQL : INSERT -->
	<insert 	id="addFile"		parameterType="file" >
	 	INSERT
		INTO STORYFUNDING( POST_NO , ID , NICKNAME , STATUS_CODE , PHONE , POST_TITLE , POST_CONTENT , 
		VOTE_START_DATE , VOTE_END_DATE , FUND_TARGET_PAY , VOTE_TARGET_COUNT , FUND_TARGET_DAY , FUND_START_DATE , FUND_END_DATE ) 
		VALUES	 ( SEQ_STORYFUNDING_POST_NO.NEXTVAL , #{id:VARCHAR} , #{nickName:VARCHAR} , 1 , #{phone:VARCHAR} , #{postTitle:VARCHAR} , #{postContent:VARCHAR} ,
		SYSDATE , SYSDATE+30 , #{fundTargetPay:NUMERIC} , #{fundTargetPay:NUMERIC}*0.001 , #{fundTargetDay} , SYSDATE+31 , SYSDATE+31+#{fundTargetDay} )
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getFile"	parameterType="string"	resultMap="fileSelectMap">
		SELECT
		POST_NO , ID , NICKNAME , STATUS_CODE ,  PHONE ,  POST_TITLE , POST_CONTENT , VIEW_COUNT , VOTER_COUNT , VOTE_START_DATE ,
		VOTE_END_DATE , FUND_TARGET_PAY , VOTE_TARGET_COUNT , FUND_TARGET_DAY , SPONSOR_COUNT , FUND_PAY , FUND_START_DATE , FUND_END_DATE 		
		FROM STORYFUNDING 
		WHERE POST_NO IN #{value}
	 </select>
	 
	 <!-- SQL : SELECT LIST -->
	<select  id="listFunding"  parameterType="search"	resultMap="fundingSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT
													POST_NO , ID , NICKNAME , STATUS_CODE ,  PHONE ,  POST_TITLE , POST_CONTENT , VIEW_COUNT , VOTER_COUNT , VOTE_START_DATE ,
													VOTE_END_DATE , FUND_TARGET_PAY , VOTE_TARGET_COUNT , FUND_TARGET_DAY , SPONSOR_COUNT , FUND_PAY , FUND_START_DATE , FUND_END_DATE 				
											FROM STORYFUNDING 
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
											 			POST_TITLE = #{searchKeyword}
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
											 			NICKNAME = #{searchKeyword}
													</if>
												</where>
											</if>
											ORDER BY POST_NO ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 	<!--  위 두번째 subQuery 의  
	 			WHERE ROWNUM &lt;= #{endRowNum} ) 는
	 			WHERE ROWNUM <= #{endRowNum} ) 의미이며..
	 			< 는 keyword 로 &lt; 를	사용.
	 			
	 			<![CDATA[  ~~~  ]]> 를 이용하여 아래와 같이 사용  할 수 있다.
	 			CDATA ==> Character Data 의 의미 Java 에서 \n 같은 특수문자 처리  

				WHERE ROWNUM <![CDATA[ <=]]> #{endRowNum} )
		-->
	 
	 <!-- SQL : UPDATE -->
	 <update	id="updateFunding"	parameterType="funding" >
	   	UPDATE STORYFUNDING
	   	<set>
	   		PHONE       	   = #{phone:VARCHAR} ,
			POST_TITLE	       = #{postTitle:VARCHAR},
			POST_CONTENT 	   = #{postContent:VARCHAR} ,
			FUND_TARGET_PAY	   = #{fundTargetPay:NUMERIC},
			FUND_TARGET_DAY    = #{fundTargetDay:NUMERIC},
			VOTE_TARGET_COUNT  = #{fundTargetPay:NUMERIC}*0.001,
			FUND_END_DATE      = SYSDATE+31+#{fundTargetDay:NUMERIC}
	   	</set>
	   	WHERE POST_NO IN #{postNo} 
	 </update>
	 
	<!-- SQL : UPDATE StatusCode -->
	<update id="updateStatusCode" parameterType="funding">
		UPDATE STORYFUNDING
		<set>
			STATUS_CODE = #{statusCode:CHAR},
		</set>
		WHERE POST_NO IN #{postNo:VARCHAR}

	</update>

	<!-- SQL : DELETE -->		 
	<delete id="delFunding" parameterType="string">
		DELETE
		FROM STORYFUNDING
		WHERE POST_NO IN #{value}
	</delete>
	
	 
</mapper>