<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FundingReviewMapper">

	<resultMap id="fundingReviewSelectMap" type="funding">

		<result property="postNo" column="POST_NO" jdbcType="NUMERIC" />
		<result property="id" column="ID" jdbcType="VARCHAR" />
		<result property="nickname" column="NICKNAME" jdbcType="VARCHAR" />	
		<result property="reviewTitle" column="REVIEW_TITLE" jdbcType="VARCHAR" />
		<result property="reviewContent" column="REVIEW_CONTENT" jdbcType="VARCHAR" />
		<result property="reviewRegDate" column="REVIEW_REG_DATE" jdbcType="DATE" />
		</resultMap>
 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getReview"	parameterType="string"	resultMap="fundingReviewSelectMap">
		SELECT
		POST_NO , ID , NICKNAME , REVIEW_TITLE , REVIEW_CONTENT , REVIEW_REG_DATE , REVIEW_DEL_CODE
		FROM STORYFUNDING 
		WHERE POST_NO IN #{value}
	 </select>
	 
	 <!-- SQL : INSERT & UPDATE -->
	 <update	id="updateReview"	parameterType="funding" >
	   	UPDATE STORYFUNDING
	   	<set>
			REVIEW_TITLE	 = #{reviewTitle:VARCHAR},
			REVIEW_CONTENT 	 = #{reviewContent:VARCHAR}
	   	</set>
	   	WHERE POST_NO IN #{postNo} 
	 </update>

	<!-- SQL : DELETE -->		 
	<delete id="delReview" parameterType="string">
	   	UPDATE STORYFUNDING
	   	<set>
			REVIEW_TITLE	 = null,
			REVIEW_CONTENT 	 = null,
			REVIEW_REG_DATE  = null
	   	</set>
	   	WHERE POST_NO IN #{postNo} 
	</delete>
	
	 
</mapper>