<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MessageMapper">
 	
 	
	<resultMap id="messageSelectMap" type="message">
		<result property="messageNo"	column="message_no"		jdbcType="NUMERIC"/>
		<result property="messageTitle"	column="message_title"		jdbcType="VARCHAR"/>
		<result property="messageContent"	column="message_content"	jdbcType="VARCHAR"/>
		<result property="senderId"			column="sender_id"		jdbcType="VARCHAR"/>
		<result property="receiverId"		column="receiver_id"	jdbcType="VARCHAR"/>
		<result property="sendDate"			column="send_date"	jdbcType="DATE"/>
		<result property="receiveDate"		column="receive_date"	jdbcType="DATE"/>
		<result property="messageStatus"		column="message_status"	jdbcType="CHAR"/>
		<result property="delCode"			column="del_code"	jdbcType="CHAR"/>
	</resultMap>
	
	<!-- SQL : INSERT -->
	
	<insert id="addMessage"	parameterType="message">
		INSERT INTO message(message_no, message_title, message_content, sender_id,
		receiver_id, send_date, message_status, del_code)
		VALUES(seq_message_message_no.NEXTVAL, #{messageTitle}, #{messageContent}, #{senderId}, 
		#{receiverId}, SYSDATE, #{messageStatus}, #{delCode})
	</insert>

	 
	 <!-- SQL : SELECT ONE -->

	<select id="getMessage"	parameterType="string"	resultMap="messageSelectMap">
		SELECT
		message_no, message_title, message_content, sender_id, receiver_id, send_date
		FROM message
		WHERE message_no=#{messageNo}
	</select>
	
	
	<!-- SQL : Update -->
	
	<update id="updateMessage" 	parameterType="message">
		UPDATE message
		<set>
			message_status	= #{messageStatus},
			receive_date	= SYSDATE
		</set>
		WHERE message_no=#{messageNo}
	</update>
		 
	<!-- SQL : SELECT LIST -->
	 	
	<select id="getSendMessageList"		parameterType="map"	resultMap="messageSelectMap">
		SELECT message_no, sender_id, receiver_id, message_title, send_date, receive_date, message_status
		FROM( SELECT inner_table.*, ROWNUM AS row_seq
			FROM( SELECT message_no, sender_id, receiver_id, message_title, send_date, receive_date, message_status
				FROM message

				WHERE sender_id=#{senderId}
<!-- 					<if test="searchCondition != null"> -->
<!-- 						<if test="searchCondition==0 and searchKeyword !='' "> -->
<!-- 							AND receiver_id=#{searchKeyword} -->
<!-- 						</if> -->
<!-- 						<if test="searchCondition==1 and searchkeyword !='' "> -->
<!-- 							AND message_title=#{searchKeyword} -->
<!-- 						</if> -->
<!-- 					</if> -->

				ORDER BY sender_id ) inner_table
			WHERE ROWNUM &lt;=#{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}
	</select>
	
	<select id="getReceiverMessageList"		parameterType="map"	resultMap="messageSelectMap">
		SELECT message_no, sender_id, receiver_id, message_title, send_date, receive_date, message_status
		FROM( SELECT inner_table.*, ROWNUM AS row_seq
			FROM( SELECT message_no, sender_id, receiver_id, message_title, send_date, receive_date, message_status
				FROM message

				WHERE receiver_id=#{receiverId}
<!-- 					<if test="searchCondition != null"> -->
<!-- 						<if test="searchCondition==0 and searchKeyword !='' "> -->
<!-- 							AND sender_id=#{searchKeyword} -->
<!-- 						</if> -->
<!-- 						<if test="searchCondition==1 and searchkeyword !='' "> -->
<!-- 							AND message_title=#{searchKeyword} -->
<!-- 						</if> -->
<!-- 					</if> -->

				ORDER BY receiver_id ) inner_table
			WHERE ROWNUM &lt;=#{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}
	</select>


	<!-- SQL : SELECT ROW Count -->	 

	<select  id="getSendTotalCount"		parameterType="map"	resultType="int">
		SELECT COUNT(*)
		FROM(	SELECT message_no, sender_id, receiver_id, message_title, send_date, receive_date, message_status
			FROM message

				WHERE sender_id=#{senderId}
<!-- 					<if test="searchCondition != null"> -->
<!-- 						<if test="searchCondition==0 and searchKeyword !='' "> -->
<!-- 							AND receiver_id=#{searchKeyword} -->
<!-- 						</if> -->
<!-- 						<if test="searchCondition==1 and searchkeyword !='' "> -->
<!-- 							AND message_title=#{searchKeyword} -->
<!-- 						</if> -->
<!-- 					</if>  -->
					) countTable						
	</select>
	
	<select  id="getReceiveTotalCount"		parameterType="map"	resultType="int">
		SELECT COUNT(*)
		FROM(	SELECT message_no, sender_id, receiver_id, message_title, send_date, receive_date, message_status
			FROM message

				WHERE receiver_id=#{receiverId}
<!-- 					<if test="searchCondition != null"> -->
<!-- 						<if test="searchCondition==0 and searchKeyword !='' "> -->
<!-- 							AND sender_id=#{searchKeyword} -->
<!-- 						</if> -->
<!-- 						<if test="searchCondition==1 and searchkeyword !='' "> -->
<!-- 							AND message_title=#{searchKeyword} -->
<!-- 						</if> -->
<!-- 					</if> -->
					) countTable						
	</select>
	 
</mapper>