<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">

	<resultMap id="productSelectMap" type="product">
	
		<result property="prodNo" 			column="prod_no" 		jdbcType="NUMERIC" />
		<result property="prodName" 		column="prod_name" 		jdbcType="VARCHAR" />
		<result property="price" 			column="price" 			jdbcType="NUMERIC" />
		<result property="manuDate" 		column="manu_date" 		jdbcType="DATE" />	
		<result property="regDate" 			column="reg_date"		jdbcType="DATE" />
		<result property="country"			column="country" 		jdbcType="VARCHAR" />
		<result property="quantity" 		column="quantity" 		jdbcType="NUMERIC" />
		<result property="prodDetail" 		column="prod_detail" 	jdbcType="VARCHAR" />
		<result property="company" 			column="company" 		jdbcType="VARCHAR" />
		<result property="discountPrice" 	column="discount_price" jdbcType="NUMERIC"/>
		<result property="prodCode" 		column="prod_code" 		jdbcType="NUMERIC"/>
		
	</resultMap>
	


	<!-- 상품등록  : product add -->
	<insert id="addProduct" parameterType="product">
		INSERT 
		INTO product (prod_no, prod_name, price, manu_date, reg_date, countr
		y, quantity, prod_detail, company, 
		discount_price, prod_code) 
		VALUES (SEQ_PRODUCT_PROD_NO.NEXTVAL, #{prodName}, #{price}, #{manuDate}, SYSDATE, #{country}, 
		#{quantity}, #{prodDetail}, #{company}, #{discountPrice}, #{prodCode})
		
	</insert>

	 
	
	<!-- 상품상세조회  : product read(one)  -->
	<select id="getProduct" parameterType="int" resultMap="productSelectMap">
		SELECT
		prod_no, prod_name, price, country, prod_detail, company, discount_price
		FROM product
		WHERE prod_no = #{prodNo}
	</select>


	<!-- 상품 정보 업데이트 : product update-->
	<update id="updateProduct" parameterType="product">
		UPDATE product
		<set>		
		prod_name 		= #{prodName},
		price 			= #{price},
		country			= #{country},
		prod_detail	 	= #{prodDetail},
		company 		= #{company},
		manu_date		= #{manuDate},
		quantity 		= #{quantity},
		discount_price 	= #{discountPrice}
		</set>
		WHERE prod_no = #{prodNo}
	</update>
	
	<!-- 상품리스트  : product read(list)--> 
	<select  id="listProduct"  parameterType="search"	resultMap="productSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  		FROM (	SELECT prod_no, prod_name, price, discount_price
	  						 FROM product 	  					 
									<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
											 			prod_name = #{searchKeyword}
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
											 			price = #{searchKeyword}
													</if>
												</where>
											</if>) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 
	  <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT prod_no, prod_name, price, country, prod_detail, company, manu_date, quantity, discount_price
		FROM product
						<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
											 			prod_name = #{searchKeyword}
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
											 			price = #{searchKeyword}
													</if>
												</where>
											</if> ) countTable						
	 </select>
	 
<!-- 관리자 상품조회 --> 
		 <select  id="listAdminProduct"  parameterType="search"	resultMap="productSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  		FROM (	SELECT prod_no, prod_name, price, country, company, manu_date, reg_date, quantity ,discount_price, prod_code
	  						 FROM product 	  					 
									<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
											 			prod_name = #{searchKeyword}
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
											 			price = #{searchKeyword}
													</if>
												</where>
											</if>) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select> 
	 
 </mapper> 
