<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReCommentMapper">
 	
 	
	<resultMap id="reCommentSelectMap" type="reComment">
		<result property="commentNo" 			column="comment_no" 		jdbcType="NUMERIC" />
		<result property="reCommentNo"			column="recomment_no" 		jdbcType="NUMERIC" />
		<result property="id" 					column="id"					jdbcType="VARCHAR" />
		<result property="reCommentContent" 	column="recomment_content"	jdbcType="VARCHAR" />
		<result property="regDate" 				column="reg_date"			jdbcType="DATE"    />
		<result property="nickName" 			column="nickname"			jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert id="addReComment"	parameterType="reComment" >
	INSERT INTO recomment( comment_no, recomment_no, id, recomment_content, reg_date, nickName) 
	VALUES (#{comment_no}, seq_RECOMMENT_RECOMMENT_NO, #{id}, #{reCommentContent}, #{regDate}, #{nickName})
	<!-- to_date(sysdate, 'yyyy/mm/dd hh:mi:ss') -->
	</insert>
	 
	<select id="getReComment" parameterType="int">
		SELECT comment_no, recomment_no, id, comment_content, reg_date, nickName 
		FROM recomment 
		WHERE recomment_no = #{value}
	</select>
	
	<update id="updateReComment" parameterType="reComment" >
		UPDATE recomment
		SET recomment_content = #{reCommentContent}
		WHERE recomment_no = #{reCommentNo}
	</update>
	
	<delete id="deleteReComment" parameterType="int">
		DELETE 
		FROM recomment
		WHERE recomment_no = #{value}
	</delete>
	
	<select id="listReComment" parameterType="int" resultMap="reCommentSelectMap">
		SELECT comment_no, recomment_no, id, recomment_content, reg_date, nickName 
		FROM recomment 
		WHERE comment_no = #{value}		
	 </select>
	 
</mapper>